<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">

		  <p>&copy 2022 RPM Lab. Modified from <a href="http://www.allanlab.org/aboutwebsite.html">Allan Lab</a> template.</p>
            


		   <p>  </p><p>


		</div>
		<div class="col-sm-4">
		  Affiliated:<br />
	          - <a href="https://cse.umn.edu/cs">Department of Computer Science and Engineering</a><br />
		  - <a href="https://cse.umn.edu/mnri">Minnesota Robotics Institute (MnRI)</a>
		</div>
		<div class="col-sm-4">
		  Contact:<br />
		  2-216 Kenneth H. Keller Hall<br />
		  200 Union St SE<br />
		  Minneapolis, MN 55455<br />
            (<a href="https://goo.gl/maps/BVQQ1zALKssNF17F9">Google Maps</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
